'global':
  'core':
    'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
    ]
    'disabledPackages': [
      'open-on-github'
    ]
  'welcome':
    'showOnStartup': false
  'exception-reporting':
    'userId': '93eefc96-d01a-1960-59e4-71ddef94eb74'
  'metrics':
    'userId': '9e4d32b140be1cb4e975a34a65c17fc15d35c6d7'
  'editor':
    'confirmCheckoutHeadRevision': false
    'invisibles': {}
