"*":
  "atom-beautify":
    general:
      _analyticsUserId: "615e7261-62fe-4eee-bc13-1eb1a71dd33a"
  "atom-pair":
    pusher_app_key: "c9c62252541def507110"
    pusher_app_secret: "4e03e63d702a415a5030"
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "open-on-github"
      "linter-scss-lint"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".tags"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showInvisibles: true
  "exception-reporting":
    userId: "93eefc96-d01a-1960-59e4-71ddef94eb74"
  "fuzzy-finder": {}
  "git-history":
    showDiff: false
  "git-plus":
    general:
      _analyticsUserId: "17150e82-9e0f-4c81-a8b1-69f9f7542251"
  linter:
    lintOnChange: false
    showHighlighting: true
    showInfoMessages: true
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "rubocop"
    ]
  "linter-rubocop":
    command: "/Users/jan/.rbenv/shims/rubocop"
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview": {}
  metrics:
    userId: "9e4d32b140be1cb4e975a34a65c17fc15d35c6d7"
  minimap: {}
  "one-dark-ui": {}
  pigments:
    markerType: "native-underline"
  react: {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
